extends layout
block content
   div.subject
      h1 צור קשר

   div.contact
      div.submitform
         form(action='/index/contact/', method='post')
            div.row
               div.large-4.columns.myColumns
                  label(for='name') :שם
                     input(type='text',name='name',placeholder='שם מלא', id='name').text-right
            div.row
               div.large-4.columns.myColumns
                  label(for='phone_number') :טלפון
                     input(type='text',name='phone_number', placeholder='טלפון', id='phone_number').text-right
            div.row
               div.large-4.columns.myColumns
                  label(for='email') :אימייל
                     input(type='text',name='email', placeholder='אימייל', id='email').text-right
            div.row
               div.large-4.columns.myColumns
                  label(for='messages') :הודעה
                     input(name='msg', placeholder='הודעה', id='msg').text-right
            button.button.contact(type='submit', name='submit') שלח
      div.ouraddress
         h3
            u :כתובתינו היא
         h4 האומנות 5, נתניה
         h4 אזור התעשיה פולג
         h4 09-7677436
         h4 contact@kzuza.co.il


   div.map
      iframe(src='https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3373.2600369191114!2d34.859828799999995!3d32.277986!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151d408306d2c0ef%3A0x7dfaf2cd2d645090!2sHa-Omanut+St+5%2C+Netanya!5e0!3m2!1sen!2sil!4v1426271104600', width='1000', height='300', frameborder='0', style='border:0')