extends layout
block content
    div.content.daily_meal
        ul
        p ברוך הבא לבר סלטים ,#{user.username}
        img.logo(src="/images/logo.jpg")
        h1 מנות היום
        .slider1
            div.row.slide
                div.medium-6.right
                    a(href="/take_order")
                        img(src="/images/salat.jpg")
                div.medium-6.left
                    h4 סלט בוקר עשיר במיוחד הכולל ירקות טריים, טונה, ביצים, עלי חסה וביבי, גבינה בולגרית ורוטבים לבחירה
            div.row.slide
                div.medium-6.right
                    a(href="/take_order")
                        img(src="/images/karih_salomon.jpg")
                div.medium-6.left
                    h4 כריך סלומון עם גבינת שמנת, חסה, בצל ועגבניות
            div.row.slide
                div.medium-6.right
                    a(href="/take_order")
                        img(src="/images/marak.jpg")
                div.medium-6.left
                    h4 מרק פטריות ביתי עם לחם וחמאה
            div.row.slide
                div.medium-6.right
                    a(href="/take_order")
                        img(src="/images/shakshuka.jpg")
                div.medium-6.left
                    h4 שקשוקה עם ביצים, עגבניות ופטרוזיליה
        div.row
            div.medium-6.centered
                button.button(onclick="javascript; window.") המשך לתפריט

    script(src='/js/daily_meal.js')