extends layout
block content
    div.content
        h1 בר סלטים
        img(src="/images/logo.jpg")
        form(action='/auth/forget_password', method='post', data-abide)
            .row
                .large-4.columns
                    label
                        input(name="username", type='text', placeholder="שם משתמש", dir="rtl", required="required")
                    small.error
                        שדה חובה
            .row.password-field
                .large-4.columns
                    label
                        input(name="mail", type='text', placeholder="email", dir="rtl", required="required")
                    small.error
                        שדה חובה
            .row.center
                button.button(dir="rtl", type='submit') שלח
