extends layout
block content
    div.content
        h1 בר סלטים
        img(src="static/images/logo.jpg")
        form(action='/login', method='post')
            .row
                .large-4.columns
                    label
                        input(name="username", type='text', placeholder='שם משתמש', dir="rtl")
            .row
                .large-4.columns
                    label
                        a(dir="rtl", href="/forget_password") שכחת סיסמה?
                        &nbsp;
                        a(dir="rtl", href="/auth/signup") משתמש חדש?
                        input(name="password", type='password', placeholder="סיסמה", dir="rtl")

            .row.center
                button.button(dir="rtl", type='submit') כניסה
            .row.center
                button.button.alert(dir="rtl") כניסה עם Gmail
            .row.center
                button.button(dir="rtl") כניסה עם Facebook
