div.row
    div.columns.small-12.medium-10.large-8.small-centered
        form.panel.callout.pat(action='/auth/login/', method='post')
            div.row.collapse
                div.columns.small-3.left.small-offset-1
                    img(src='/images/logo.png')
            div.row.collapse
                div.small-2.columns
                    span.prefix
                        i.fi-torso.size-36
                div.small-10.columns
                    input(name="username", type='text', placeholder='שם משתמש', dir="rtl")
            div.row.collapse
                div.small-2.columns
                    span.prefix
                        i.fi-mail.size-36
                div.small-10.columns
                    input(type="text", placeholder="Email")
            div.row.collapse
                div.small-2.columns
                    span.prefix
                        i.fi-lock.size-36
                div.small-10.columns
                    input(name="password", type='password', placeholder="סיסמה", dir="rtl")
            button.button(dir="rtl", type='submit') כניסה
            div.row
                a.columns(href='#' data-reveal-id="forgetPasswordModal" dir="rtl") שכחת סיסמה?