extends layout
block content
    div#tabs(ng-controller="menuController")
        div.row(dir="rtl")
            div.columns.small-4.left-align.medium-3.large-4
                ul.callout(dir="rtl")
                    li.side-nav(ng-repeat="item in menu" dir="rtl")
                        a(href ng-click="setTab($index)")
                            div.row.pat.borderGreen()
                                div.columns.large-6
                                    img(ng-src="{{item.image}}")
                                div.columns.large-6
                                    h3 {{item.title}}
            div.columns.small-8
                br
                div.borderGreen.pat
                    div(ng-repeat="item in menu" dir="rtl")
                        section(ng-show="isTab($index)")
                            h1 {{item.title}}
                            ul
                                li(ng-repeat="innerItem in item.items")
                                    a
                                        ins
                                            h3 {{innerItem.name}} .... {{innerItem.price}} ש"ח
                                    div.right20
                                        strong {{innerItem.description}}

