div#order
    section(ng-controller="orderCtrl")
        if(user)
            h3 #{user}
        div.row
            div.columns(ng-repeat="item in itemsInCart")
                strong {{item.name}}...{{item.price}} ש"ח
                a(ng-click="deleteItem(item)") &#215
        div.row
            div.columns(ng-repeat="salad in saladsInCart")
                strong סלט {{salad.size}}...{{salad.price}} ש"ח
                a(ng-click="deleteSalad(salad)") &#215
