extends layout
block content

    div
        section(ng-controller="orderCtrl")
            div
                p {{cart._id}}
                ul
                    li(ng-repeat="item in cart.items") {{item}}
                ul
                    li(ng-repeat="salad in cart.salads") {{salad}}
            div(ng-repeat="item in itemsInCart")
                p {{item.id}}
                p {{item.name}}
                p {{item.price}}