extends layout
block content
    div
        section(ng-controller="orderCtrl")
            div.row
                p {{cart._id}}
                ul
                    li(ng-repeat="item in cart.items") {{item}}
                ul
                    li(ng-repeat="salad in cart.salads") {{salad}}
            div.row(ng-repeat="item in itemsInCart")
                h3 {{item._id}}
                h3 {{item.name}}
                h3 {{item.price}}