extends layout
block content
   div.content.large_page.take_order
      h1 בר סלטים
      img.logo(src="static/images/logo.jpg")
      if (take_away)
         h2 ההזמנה תיאסף מהבר
      else
         h2 ההזמנה תישלח לstreet house_number / apartment_number
      form(dir="rtl", action="/take_order", method="post", data-abide)
         .row
            h4 עדיפות לתשלום:
            .switch.round.medium-2.right
               input(id="credit",type="radio",name="payment_choice",checked)
               label(for="credit")
               h6 כרטיס אשראי
            .switch.round.medium-2.right
               input(id="cash",type="radio",name="payment_choice")
               label(for="cash")
               h6 מזומן
         .row
            .medium-6.centered.right
               button.button(dir="rtl", type='submit') המשך
