extends layout
block content
    h1.text-right המלצות

    div.recomm
        div.row.rights
            div#tabs(ng-controller="recommendController")
                div.row(dir="rtl")
                    div.columns.large-10
                        ul.callout(dir="rtl")
                            li.side-nav(ng-repeat="rec in recommendations" dir="rtl")
                                div.row.pat.borderGreen
                                    div.columns.large-10
                                        h5
                                            u תאריך:
                                        p.nootregular {{rec.date}}
                                        h5
                                            u נושא:
                                        p {{rec.subject}}
                                        h5
                                            u שם:
                                        p {{rec.name}}
                                        h5
                                            u המלצה:
                                        p {{rec.text}}
        div.row.lefts
            form(method="post" action="/data/saveRecommend")
                fieldset
                    p.text-right :תאריך
                    input(type="text" id="date" name="date").text-right
                    p.text-right :נושא
                    input(type="text" id="subject" name="subject").text-right
                    p.text-right :שם
                    input(type="text" id="name" name="name").text-right
                    p.text-right :תוכן ההמלצה
                    textarea(type="text" id="text" name="text").text-right
                    button.button(type="submit" placeholder="save title") שמור