extends layout
block content
    h1 המלצות

    div.recomm
        div.row.rights
            form(method="post" action="/data/saveRecommend")
                fieldset
                    p תאריך
                    input(type="text" id="date" name="date").text-right
                    p נושא
                    input(type="text" id="subject" name="subject").text-right
                    p שם
                    input(type="text" id="name" name="name").text-right
                    p תוכן
                    textarea(type="text" id="text" name="text").text-right
                    button.button(type="submit" placeholder="save title") שמור
        div.row.lefts


            //date: String,
              subject: String,
              name: String,
              text: String