extends layout
block content
    div(ng-controller="saladCtrl")
        form#saladForm(method="post", action="/addSalad")
            section
                div.row
                    div.columns.small-2
                        strong {{price}} ×©"×—
                    div.small-4
                        a.button(ng-click="sddSalad()") dfgdg
                        button.button(type="submit") ×”×•×¡×£ ×?×”×–×?× ×”
            section
            p {{price}} ×©"×—
            div.row.top10(dir="rtl")
                fieldset
                    legend
                        h5 ×’×•×“×?
                    div.columns.small-4
                        div.switch.round.small
                            input(type="radio" id="size1" checked name="size" value="500" ng-click="chooseSize(27)")
                            label(for="size1")
                            h4 500 ×?"×?
                    div.columns.small-4
                        div.switch.round.small
                            input(type="radio" id="size2" name="size" value="750" ng-click="chooseSize(31)")
                            label(for="size2")
                            h4 750 ×?"×?
                    div.columns.small-4
                        div.switch.round.small
                            input(type="radio" id="size3" name="size" value="1000" ng-click="chooseSize(35)")
                            label(for="size3")
                            h4 1000 ×?"×?
            div.row(dir="rtl")
                div.columns.small-4
                    fieldset
                        //legend
                        div.row
                            ul.side-nav
                                li.columns.medium-6(ng-repeat="ing in ingredients")
                                    label
                                        input(type="checkbox" id="{{ing.name}}" name="ingredients" value="{{ing.name}}")
                                        strong &nbsp {{ing.label}}
                div.columns.small-4
                    fieldset
                        legend
                            h5 2 ×¨×˜×‘×™×? ×?×‘×—×™×¨×”
                        div
                            strong.red * ×›×? ×¨×•×˜×‘ × ×•×¡×£ 2 ×©"×—
                            ul.side-nav
                                li(ng-repeat="suc in sauce")
                                    label
                                        input(type="checkbox" ng-model="suc$index" id="{{suc.name}}" name="sauce" value="{{suc.name}}" ng-change="addSauce(suc$index)")
                                        strong &nbsp {{suc.label}}
                div.columns.small-4
                    fieldset
                        legend
                            h5 ×ª×•×¡×¤×ª ×?×—×ª ×?×‘×—×™×¨×”
                        div
                            //h4 ×ª×•×¡×¤×ª ×?×—×ª ×?×‘×—×™×¨×”
                            strong.red * ×›×? ×ª×•×¡×¤×ª × ×•×¡×¤×ª 4 ×©"×—
                            ul.side-nav
                                li(ng-repeat="ex in extra")
                                    label
                                        input(type="checkbox" ng-model="ex$index" id="{{ex.name}}" name="extra" value="{{ex.name}}" ng-change="addExtra(ex$index)")
                                        strong &nbsp {{ex.label}}
