extends layout
block content
    //script.
        $(window).scroll(function() {
            $('sandwichStyle').each(function () {
                var imagePos = $(this).offset().top;

                var topOfWindow = $(window).scrollTop();
                if (imagePos < topOfWindow + 400) {
                    $(this).addClass("slideUp");
                }
            });
        });

    section(ng-controller="sandwichCtrl")
        form(id="sandwichForm" method="post" action="/order/item")
            input(type="hidden" id="sandwichID" value="select._id")
            div.row
                div.columns.medium-8
                    div.wow.bounceInUp(ng-repeat="sandwich in sandwiches").top10
                        a(ng-mouseover="over(sandwich)" ng-click="sandwichSelect(sandwich)")
                            input(type="hidden")
                            div.row(dir="rtl")
                                div.columns.medium-4
                                    img.borderGreen(ng-src="{{sandwich.image}}")
                                div.columns.medium-8
                                    div(dir="rtl")
                                        h3 {{sandwich.name}}...{{sandwich.price}} ש"ח
                                        strong {{sandwich.description}}
                div.columns.medium-4
                    //include order