div#sideOrder
    section(ng-controller="cartCtrl")
        div.sticky-menu-tab(ng-hide="menu")
            a(ng-click="open()") הזמנה
        div.sticky-menu-show(ng-show="menu")
            a.close-reveal-modal(ng-click="close()") &#215
            ul
                li(ng-repeat="item in items")
                    a(ng-click="deleteItem(item)") &#215
                    p {{item.name}} ... {{item.price}} ש"ח
            ul
                li(ng-repeat="salad in salads")
                    a(ng-click="deleteSalad(salad)") &#215
                    p {{salad.size}} ... {{salad.price}} ש"ח

            button.button(href="/tack_order") הזמן