div#sideOrder
    section(ng-controller="cartCtrl")
        div.sticky-menu-tab(ng-hide="menu")
            a(ng-click="open()")
                h3 somting ({{num}})
        div.sticky-menu-show(ng-show="menu")
            a(ng-click="close()") close
            //h5 {{cart}}
            ul
                li(ng-repeat="item in items")
                    a(ng-click="deleteItem(item)") &#215
                    strong {{item.name}}
                    strong {{item.price}}
            ul
                li(ng-repeat="salad in salads")
                    a(ng-click="deleteSalad(salad)") &#215
                    strong {{salad.name}}
                    strong {{salad.price}}
            strong {{price}}
