extends layout
block content
    div.content.large_page.take_order
        h1 בר סלטים
        img.logo(src="/images/logo.jpg")
        h2(dir="rtl") הזמנתך נרשמה בהצלחה!

        .row.flippers.radius
            .columns.small-2.small-offset-6
                .flip-container.first(ontouchstart="this.classList.toggle('hover');")
                    .flipper
                        .front
                            h3 מרכיבים את המנה
                        .back
                            h3 מרכיבים את המנה
            .columns.small-2
                .flip-container.second(ontouchstart="this.classList.toggle('hover');")
                    .flipper
                        .front
                            h3 הזמנה מחכה למשלוח
                        .back
                            h3 הזמנה מחכה למשלוח
            .columns.small-2
                .flip-container.third(ontouchstart="this.classList.toggle('hover');")
                    .flipper
                        .front
                            h3 הזמנה בדרך אליך
                        .back
                            h3 הזמנה בדרך אליך
        .row.flippers
            .columns.small-6.small-offset-6.progress-bg
                .progress.round
                    span.meter

        //script $(document).ready(function() {$('body').fadeOut(3000, function() {window.location.href="/daily_meal"})});
        script(src='/js/flip.js')