extends layout
block content
    div.content.large_page.take_order
        h1 ×‘×¨ ×¡×?×˜×™×?
        img.logo(src="/images/logo.jpg")
        h2(dir="rtl") ×”×–×?× ×ª×? × ×¨×©×?×” ×‘×”×¦×?×—×”!

        .row.flippers.radius
            .columns.small-3
                .flip-container.first(ontouchstart="this.classList.toggle('hover');")
                    .flipper
                        .front
                            h3 ×?×¨×›×™×‘×™×? ×?×ª ×”×?× ×”
                        .back
                            h3 ×?×¨×›×™×‘×™×? ×?×ª ×”×?× ×”
            .columns.small-3
                .flip-container.second(ontouchstart="this.classList.toggle('hover');")
                    .flipper
                        .front
                            h3 ×”×–×?× ×” ×?×—×›×” ×?×?×©×?×•×—
                        .back
                            h3 ×”×–×?× ×” ×?×—×›×” ×?×?×©×?×•×—
            .columns.small-3
                .flip-container.third(ontouchstart="this.classList.toggle('hover');")
                    .flipper
                        .front
                            h3 ×”×–×?× ×” ×‘×“×¨×? ×?×?×™×?
                        .back
                            h3 ×”×–×?× ×” ×‘×“×¨×? ×?×?×™×?
            .columns.small-3
        .row.flippers
            .columns.small-6.small-offset-6.progress-bg
                .progress.round
                    span.meter

        //script $(document).ready(function() {$('body').fadeOut(3000, function() {window.location.href="/daily_meal"})});
        script(src='/js/flip.js')