
/*light color: #B4E41D*/
/*2ed light: #76A51F*/
/*dark color: #43702F*/
/*2ed dark: #2C5F18*/
/*red: #E4322D*/

@font-face {
    font-family: 'nootregular';
    src: url('Noot-webfont.eot');
    src: url('Noot-webfont.eot?#iefix') format('embedded-opentype'),
    url('Noot-webfont.woff2') format('woff2'),
    url('Noot-webfont.woff') format('woff'),
    url('Noot-webfont.ttf') format('truetype'),
    url('Noot-webfont.svg#nootregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'felix007';
    src: url('felix007-medium-webfont.eot');
    src: url('felix007-medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('felix007-medium-webfont.woff') format('woff'),
    url('felix007-medium-webfont.ttf') format('truetype'),
    url('felix007-medium-webfont.svg#felix007') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-family: nootregular;
}

body {
    text-align: right;
    font-family: nootregular;
}

label {
    font-family: nootregular;
}

#footer {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        margin-top: 50px; /* negative value of footer height */
        height: 50px;
        clear:both;
        background-color: black;
}

.pat{
    background-image: url("/images/pat.png");
    height: 60rem;
}
.pat.borderGreen{
    height: auto;
}

.saladTop{
    border: 2px solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-image: url('/images/topSalad.png');
    height: 85px;
}
.large_page {
    width: 80%;
}

/* home page */
.myContent {
    width: 30%;
    margin: auto;
    margin-top: 2%;
    text-align: right;
    height: 100%;
}

.myContent h1 {
    margin-right: 15px;
}

.myContent a.button {
    width: 92%;
    margin-top: 0;
    border: 2px solid;
    border-radius: 10px;
    font-family: nootregular;
}

.myContent a.button.facebook {
    background-color: #47639E;
    font-family: nootregular;

}

#content .up {
    float: left;
}

/*daily_meal page*/
.daily_meal {
    text-align: center;
}

.daily_meal .button{
    margin-top: 1rem;
}

.daily_meal .row img {
    width: 25rem;
    cursor: pointer;
}

/* take_order page */
.take_order {
    text-align: right;
}

.take_order .row {
    max-width: 100%;
}

.take_order .row .right{
    margin: 0 1rem;
}

.take_order .row select{
    padding-right: 1.5rem;
}

div.myColumns {
    width: 100%;
}

.centered {
    margin: 0 auto;
}

/* buttons */
button.button {
    line-height: 0.3rem;
    width: 92%;
    border: 2px solid;
    border-radius: 10px;
    font-family: nootregular;
}

button.button.small {
    width: 20%;
    /*margin-right: 1rem;*/
}

.center {
    text-align: center;
}

.logo {
    width: 139px;
    margin: 15px;
}

.logo1 {
    margin-top: 0;
    margin-bottom: 8px;
    margin-left: 2px;
    height: 40px;
    border: 2px;
    border-radius: 5px;
}

.logo3 {
    height: 500px;
}

a.button {
    line-height: 0.3rem;
    width: 100%;
    margin-top: 6%;
}

.rtl{dir: rtl;}
.size-36{ font-size: 36px}
.size-27{ font-size: 27px}
.right10px{margin-right: 10px}
.phone {
    font-size: 26px;
    color: #ffffff;
    margin-left: 5px;
}
.logo6 {
    text-align: left;
    height: 75px;
    margin-top: 5px;
    margin-left: 5px;
}
.borderGreen {
    border: solid;
    border-color: #43702F;
    border-radius: 10px;
}
.active {
    border: solid;
    border-color: #E4322D;
    border-radius: 10px;
}
.top10 {
    margin-top: 10px;
}
.top20 {
    margin-top: 20px;
}
.right20 {
    margin-right: 20px;
}
.red {
    color: #E4322D;
}
.labelT {
    background-color: #43702F;
    color: #ffffff;

}
.sandwichStyle {
    visibility: hidden;
}

.container {
    height: 100%;
    width: 100%;
    background-color: #458c6b;
}

.rightside {
    height: 2700px;
    min-height: 100%;
    width: 15%;
    float: right;
    background-color: #458c6b;

}

.middleside {
    border: 2px;
    border-radius: 5px;
    margin-top: 50px;
    height: 2650px;
    min-height: 100%;
    width: 70%;
    float: right;
    background-color: #ddffdd;
    background-image: url("/images/pat.png");
}

.leftside {
    height: 2700px;
    min-height: 100%;
    width: 15%;
    float: right;
    background-color: #458c6b;
}

/*contactUsPage*/
.contact {
    height: 100%;
    width: 100%;
    text-align: right;
}

.ouraddress {
    margin-right: 70px;
    margin-top: 30px;
    float: right;
    height: 10%;
    width: 45%;
}

.submitform {
    float: right;
    height: 10%;
    width: 45%;
}

button.button.contact {
    text-align: center;
    margin-right: 20px;
}

.map {
    text-align: center;
    margin-top: 400px;
}

/*HomePage*/
.rightdiv {
    float: right;
    margin-right: 50px;
    width: 40%;
}

.leftdiv {
    width: 40%;
}

.rightpic {
    margin-top: 6px;
    float: right;
}

.leftpic {
    float: right;
    margin-top: 3px;
}

.sticky-menu-tab{
    position: fixed;
    height: 50px;
    width: 150px;
    left: 5px;
    top: 100px;
    text-align: center;
    background-color: #ffffff;
    border: solid;
    border-color: #E4322D;
    border-radius: 10px;
}

.sticky-menu-show{
    width: 180px;
    position: fixed;
    left: 5px;
    top: 100px;
    /*text-align: center;*/
    background-color: #ffffff;
    border: solid;
    border-color: #E4322D;
    border-radius: 10px;
}

.name{
    text-align: right;
    dir: rtl;
}
.price{
    text-align: left;
}

.sample-show-hide {
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
}

.sample-show-hide.ng-hide {
    opacity:0;
}

.recomm {
    width: 100%;
    height: 100%;
}

.lefts {
    float: right;
    width: 40%;
}

.rights {
    float: right;
    width: 50%;
    margin-right: 50px;
}

/*.wow.slideLeft.menu.ng-show{*/
    /*transition: 0.75s;*/
    /*opacity: 0;*/
/*}*/
/*.wow.slideLeft.menu.ng-show-active {*/
    /*opacity: 1;*/
/*}*/
/*.wow.slideLeft.menu.ng-hide {*/
    /*transition: 0.75s;*/
    /*opacity: 1;*/
/*}*/
/*.wow.slideLeft.menu.ng-hide-active {*/
    /*opacity: 0;*/
/*}*/


/* Generated by Font Squirrel (http://www.fontsquirrel.com) on March 20, 2015 */