
/*light color: #B4E41D*/
/*2ed light: #76A51F*/
/*dark color: #43702F*/
/*2ed dark: #2C5F18*/
/*red: #E4322D*/

body{
    text-align: right;
}

.pat{
    background-image: url("/images/pat.png");
    height: 60rem;
}

#topBar{
    background-image: url('/images/top3.png');
    height: 100px;
}

.saladTop{
    border: 2px solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-image: url('/images/topSalad.png');
    height: 85px;
}
.large_page {
    width: 80%;
}

/* home page */
.myContent {
    width: 30%;
    margin: auto;
    margin-top: 2%;
    text-align: right;
    height: 100%;
}

.myContent h1 {
    margin-right: 15px;
}

.myContent a.button {
    width: 92%;
    margin-top: 0;
    border: 2px solid;
    border-radius: 10px;
}

.myContent a.button.facebook {
    background-color: #47639E;
}

/*daily_meal page*/
.daily_meal {
    text-align: center;
}

.daily_meal .button{
    margin-top: 1rem;
}

.daily_meal .row img {
    width: 25rem;
    cursor: pointer;
}

/* take_order page */

.take_order {
    text-align: right;
}

.take_order .row {
    max-width: 100%;
}

.take_order .row .right{
    margin: 0 1rem;
}

.take_order .row select{
    padding-right: 1.5rem;
}

div.myColumns {
    width: 100%;
}

.centered {
    margin: 0 auto;
}

/* buttons */
button.button {
    line-height: 0.3rem;
    width: 92%;
    border: 2px solid;
    border-radius: 10px;
}

button.button.small {
    width: 20%;
    /*margin-right: 1rem;*/
}

.center {
    text-align: center;
}

.logo {
    width: 139px;
    margin: 15px;
}

.logo1 {
    margin-top: 0;
    margin-bottom: 8px;
    margin-left: 2px;
    height: 40px;
    border: 2px;
    border-radius: 5px;
}

.logo3 {
    height: 500px;
}

a.button {
    line-height: 0.3rem;
    width: 100%;
    margin-top: 6%;
}

.rtl{dir: rtl;}
.size-36{ font-size: 36px}
.size-27{ font-size: 27px}
.right10px{margin-right: 10px}
.phone {
    font-size: 26px;
    color: #ffffff;
    margin-left: 5px;
}
.logo6 {
    height: 75px;
    margin-top: 5px;
    margin-left: 5px;
}
.borderGreen {
    border: solid;
    border-color: #43702F;
    border-radius: 10px;
}
.tabs .active, .tabs-content .active {
    border: solid;
    border-color: #E4322D;
    border-radius: 10px;
}
.top10 {
    margin-top: 10px;
}
.top20 {
    margin-top: 20px;
}
.right20 {
    margin-right: 20px;
}
.red {
    color: #E4322D;
}
.labelT {
    background-color: #43702F;
    color: #ffffff;
}
.sandwichStyle {
    visibility: hidden;
}

.container {
    height: 100%;
    width: 100%;
    background-color: #458c6b;
}

.rightside {
    height: 2700px;
    min-height: 100%;
    width: 15%;
    float: right;
    background-color: #458c6b;

}

.middleside {
    border: 2px;
    border-radius: 5px;
    margin-top: 50px;
    height: 2650px;
    min-height: 100%;
    width: 70%;
    float: right;
    background-color: #ddffdd;
    background-image: url("/images/pat.png");
}

.leftside {
    height: 2700px;
    min-height: 100%;
    width: 15%;
    float: right;
    background-color: #458c6b;
}

/*contactUsPage*/
.contact {
    height: 100%;
    width: 100%;
    margin-bottom: 10px;
}

.ouraddress {
    margin-right: 53px;
    float: right;
    height: 10%;
    width: 45%;
}

.sticky-menu-tab{
    position: fixed;
    height: 50px;
    width: 150px;
    left: 5px;
    top: 100px;
    text-align: center;
    background-color: #ffffff;
    border: solid;
    border-color: #E4322D;
    border-radius: 10px;
}

.sticky-menu-show{
    position: fixed;
    left: 5px;
    top: 100px;
    text-align: center;
    background-color: #ffffff;
    border: solid;
    border-color: #E4322D;
    border-radius: 10px;
}

/*.wow.slideLeft.menu.ng-show{*/
    /*transition: 0.75s;*/
    /*opacity: 0;*/
/*}*/
/*.wow.slideLeft.menu.ng-show-active {*/
    /*opacity: 1;*/
/*}*/
/*.wow.slideLeft.menu.ng-hide {*/
    /*transition: 0.75s;*/
    /*opacity: 1;*/
/*}*/
/*.wow.slideLeft.menu.ng-hide-active {*/
    /*opacity: 0;*/
/*}*/

.submitform {
    float: right;
    height: 10%;
    width: 45%;
}

.map {
    text-align: center;
}

/*HomePage*/
.up {

}

.down {

}

.rightdiv {
    float: right;
    margin-right: 50px;
    width: 40%;
}

.leftdiv {
    width: 40%;
}

.rightpic {
    margin-top: 6px;
    float: right;
}

.leftpic {
    float: right;
}