
/*light color: #B4E41D*/
/*2ed light: #76A51F*/
/*dark color: #43702F*/
/*2ed dark: #2C5F18*/
/*red: #E4322D*/

#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 50px; /* negative value of footer height */
    height: 50px;
    clear:both;
    background-color: black;
}
body{
    /*background-image: url("../images/pat.png");*/
    background-color: #76A51F;
}

.pat{
    background-image: url("../images/pat.png");
}

#topBar{
    background-image: url('../images/top3.png');
    height: 100px;
}

.saladTop{
    background-image: url('../images/topSalad.png');
    height: 85px;
}

.myContent {
    width: 30%;
    margin: auto;
    margin-top: 2%;
    text-align: right;
    height: 100%;
}

.large_page {
    width: 80%;
}

/*daily_meal page*/
.daily_meal {
    text-align: center;
}

.daily_meal .row img {
    width: 25rem;
    cursor: pointer;
}

/* take_order page */

.take_order .row {
    max-width: 100%;
}

.take_order .row .right{
    margin: 0 1rem;
}

.take_order .row select{
    padding-right: 1.5rem;
}

div.myColumns {
    width: 100%;
}

.centered {
    margin: 0 auto;
}

button.button {
    line-height: 0.3rem;
    width: 92%;
}

.center {
    text-align: center;
}

.logo {
    width: 139px;
}

a.button {
    line-height: 0.3rem;
    width: 100%;
    margin-top: 6%;
}

.rtl{dir: rtl;}
.size-36{ font-size: 36px}
.size-27{ font-size: 27px}
.right10px{margin-right: 10px}
.phone{
    font-size: 26px;
    color: #ffffff;
    margin-left: 5px;
}
.logo6{
    height: 75px;
    margin-top: 5px;
    margin-left: 5px;
}