#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;

    margin-top: 50px; /* negative value of footer height */
    height: 50px;
    clear:both;
    background-color: black;
}

.content {
    width: 30%;
    margin: auto;
    margin-top: 2%;
    text-align: right;
}

div.columns {
    width: 100%;
}

button.button {
    line-height: 0.3rem;
    width: 92%;
}

.center {
    text-align: center;
}

a.button {
    line-height: 0.3rem;
    width: 100%;
    margin-top: 6%;
}